{% extends "base.html" %}
{% block content %}

<div class="container mt-3" id="controller">
  <div class="row">
  <div class="col">
    <span class="h3">
      {{ this_month.year }}年 {{ this_month.month }}月
    </span>
  </div>
  <div class="btn-group col" role="group">
    <a href="/{{ prev_month.strftime('%Y/%m') }}" type="button" class="btn btn-outline-primary">前</a>
    <a href="/{{ next_month.strftime('%Y/%m') }}" type="button" class="btn btn-outline-primary">次</a>
  </div>
</div>
</div>

<div class="container mt-3" id="pc_calendar">
  <table class="table table-bordered">
    <!-- top row -->
    <tr class="row">
      {% for w in week %}
      <th class="text-center text-secondary col">{{ w }}</th>
      {% endfor %}
    </tr>
    <!-- days -->
    {% for i in range(5) %}
    <tr class="row">
      {% for j in range(7) %}
      {% set cal_day = calendar_rows[i][j] %}
      <td class="text-center col">
        <!-- day -->
        <div>
          <div class="row">
            <div class="col">
              <span class="h5
                {% if cal_day.date.month != calendar_rows[1][0].month %}
                  text-muted text-opacity-50
                {% endif %}
                {% if cal_day.date == today %}
                  text-white
                {% endif %}">
                {{ cal_day.date.day }}
              </span>
            </div>
            <div class="col" style="text-align: center;">
              {% if cal_day.date.date() == today.date() %}
              <span class="badge bg-danger rounded-pill">本日</span>
              {% endif %}
            </div>
            <div class="col" style="text-align: right;">
              <a href="/add_event/{{ cal_day.date.strftime('%Y/%m/%d') }}">
                <span class="material-icons-outlined text-muted">
                  add_circle_outline
                </span>
              </a>
            </div>
          </div>
          <!-- events -->
          <div class="">
            {% for event in cal_day.events %}
            <a href="/update_event/{{ event.id }}" style="text-decoration: none;">
              <div class="rounded
                {% if event.person_id == 1 %}
                  bg-info
                {% elif event.person_id == 2 %}
                  bg-success
                {% else %}
                  bg-primary
                {% endif %}">
                <span class="text-white">
                  {{ event.content }}
                </span>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>


<div class="container mt-3" id="sp_calendar">

  <table class="table table-bordered">
    <tr>
      {% for w in ["日", "内容"] %}
      <th class="text-center text-secondary">{{ w }}</th>
      {% endfor %}
    </tr>
    {% for i in range(5) %}
    {% for j in range(7) %}
    {% set cal_day = calendar_rows[i][j] %}
    {% if cal_day.date.month == this_month.month %}
    <tr style="background-color:
    {% if cal_day.date.weekday() == 6 %}
      #e5fff2
    {% elif cal_day.date.weekday() == 0 %}
      #ffe5e5
    {% endif %}">
      <td>
        <span class="h5 text-secondary">
          {{ cal_day.date.day }}日 ({{ week[cal_day.date.weekday()] }})
        </span>
      </td>
      <td>
        {% for event in cal_day.events %}
        <a href="/update_event/{{ event.id }}" style="text-decoration: none;">
          <div class="rounded
                {% if event.person_id == 1 %}
                  bg-info
                {% elif event.person_id == 2 %}
                  bg-success
                {% else %}
                  bg-primary
                {% endif %}">
            <span class="text-white">
              {{ event.content }}
            </span>
          </div>
        </a>
        {% endfor %}
        <div class="col" style="text-align: right;">
          <a href="/add_event/{{ cal_day.date.strftime('%Y/%m/%d') }}">
            <span class="material-icons-outlined text-muted">
              add_circle_outline
            </span>
          </a>
        </div>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </table>

</div>

<!-- デバイスによって表示を変える -->
<script>
  if (navigator.userAgent.match(/iPhone|Android.*Mobile/)) {
    document.getElementById('pc_calendar').remove();
  }
  else {
    document.getElementById('sp_calendar').setAttribute('class', 'container w-50');
  }
</script>

{% endblock %}