{% extends "base.html" %}
{% block content %}

<div class="container mt-3" id="controller" style="display: none;">
  <div class="row">
  <div class="col">
    <p class="" style="font-size: 2rem; font-weight: 600; text-align: center; margin-bottom: 0em;">
      {{ this_month.year }}年 {{ this_month.month }}月
    </p>
  </div>
  <div class="btn-group col" role="group">
    <a href="/{{ prev_month.strftime('%Y/%m') }}" type="button" class="btn btn-outline-primary">前</a>
    <a href="/{{ next_month.strftime('%Y/%m') }}" type="button" class="btn btn-outline-primary">次</a>
  </div>
  <div class="col" id="controllerSpaceForPc" style="display: none;"></div>
</div>
</div>

<div class="container mt-3" id="pcCalendar" style="display: none;">
  <table class="table table-bordered">
    <!-- top row -->
    <tr class="row">
      {% for w in ["日","月","火","水","木","金","土"] %}
      <th class="text-center text-secondary col">{{ w }}</th>
      {% endfor %}
    </tr>
    <!-- days -->
    {% for i in range(5) %}
    <tr class="row">
      {% for j in range(7) %}
      {% set cal_day = calendar_rows[i][j] %}
      <td class="text-center col square
        {% if cal_day.date.weekday() == 5 %}
        saturday-square
        {% elif cal_day.date.weekday() == 6 %}
        sunday-square
        {% endif %}">
        <!-- day -->
        <div>
          <div class="row">
            <div class="col">
              <span class="h5
                {% if cal_day.date.month != calendar_rows[1][0].month %}
                  text-muted text-opacity-50
                {% endif %}
                {% if cal_day.date == today %}
                  text-white
                {% endif %}">
                {{ cal_day.date.day }}
              </span>
            </div>
            <div class="col" style="text-align: center;">
              {% if cal_day.date.date() == today.date() %}
              <span class="badge bg-danger rounded-pill">本日</span>
              {% endif %}
            </div>
            <div class="col" style="text-align: right;">
              <a href="/add_event/{{ cal_day.date.strftime('%Y/%m/%d') }}">
                <span class="material-icons-outlined text-muted">
                  add_circle_outline
                </span>
              </a>
            </div>
          </div>
          <!-- events -->
          <div class="">
            {% for event in cal_day.events %}
            <a href="/update_event/{{ event.id }}" style="text-decoration: none;">
              <div class="rounded event-card
                {% if event.person_id == 1 %}
                user1
                {% elif event.person_id == 2 %}
                user2
                {% else %}
                user3
                {% endif %}">
                <span class="text-white">
                  {{ event.content }}
                </span>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>


<div class="container mt-3" id="spCalendar" style="display: none;">

  <table class="table table-bordered">
    <tr>
      {% for w in ["日", "内容"] %}
      <th class="text-center text-secondary">{{ w }}</th>
      {% endfor %}
    </tr>
    {% for i in range(5) %}
    {% for j in range(7) %}
    {% set cal_day = calendar_rows[i][j] %}
    {% if cal_day.date.month == this_month.month %}
    <tr class="text-center col
        {% if cal_day.date.weekday() == 5 %}
        saturday-square
        {% elif cal_day.date.weekday() == 6 %}
        sunday-square
        {% endif %}">
      <td style="width: 5em; text-align: center;">
        <span class="text-secondary h6 text-center">
          {{ cal_day.date.day }}日 ({{ ["月","火","水","木","金","土","日"][cal_day.date.weekday()] }})
        </span>
        {% if cal_day.date.date() == today.date() %}
        <span class="badge bg-danger">本日</span>
        {% endif %}
      </td>
      <td>
        {% for event in cal_day.events %}
        <a href="/update_event/{{ event.id }}" style="text-decoration: none;">
          <div class="rounded event-card
                {% if event.person_id == 1 %}
                user1
                {% elif event.person_id == 2 %}
                user2
                {% else %}
                user3
                {% endif %}">
            <span class="text-white">
              {{ event.content }}
            </span>
          </div>
        </a>
        {% endfor %}
        <div class="col" style="text-align: right;">
          <a href="/add_event/{{ cal_day.date.strftime('%Y/%m/%d') }}">
            <span class="material-icons-outlined text-muted">
              add_circle_outline
            </span>
          </a>
        </div>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </table>

</div>

<!-- デバイスによって表示を変える -->
<script>
  if (navigator.userAgent.match(/iPhone|Android.*Mobile/)) {
    document.getElementById('spCalendar').style.display = 'block'
  }
  else {
    document.getElementById('controllerSpaceForPc').style.display = 'block'
    document.getElementById('pcCalendar').style.display = 'block'
  }
  document.getElementById('controller').style.display = 'block'
</script>

<style>
  .user1 {
    background-color: pink;
  }
  .user2 {
    background-color: limegreen;
  }
  .user3 {
    background-color: skyblue;
  }

  .square {
    height: 10em;
  }

  .saturday {
    background-color: #e5fff2;
  }
  .sunday {
    background-color: #ffe5e5;
  }

  .event-card {
    margin-top: 0.2rem;
  }
</style>

{% endblock %}